.promo {
    background: url('/images/promo.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
}

.banner {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5.625em 0;
    padding: 4em;
    min-height: 30em;
    position: relative;
    display: flex;
}

.banner h1 {

    color: #fff;
    background-color: $primary-color-700;
    border-radius: 20px;
    padding: 0.15em 0.75em;
    font-weight: 500;
    font-size: 2.8rem;

    span {
        background: linear-gradient(to top, $accent-color 0%, #F387CF 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: $accent-color;
        font-weight: 600;
    }
}

.banner p {
    margin-top: 1em;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 500;
    color: $primary-color-900;



    span {
        font-weight: 600;
    }

}

.banner div {
    flex-basis: 50%;
    padding: 2em;
    padding-left: 0;
}

.banner-overlap {

    border-radius: 20px;

    background-color: rgba(192, 192, 192, 0.5);
    background-size: auto 100%;
    background-image: url('/images/banner.svg');
    background-position: center;
    background-repeat: no-repeat;

    width: 67.5%;
    height: 100%;
    position: absolute;
    left: 50%;
    overflow-x: hidden;
}

@media (max-width: 320px) {

.banner {
    font-size: 2px;
    background: none;
} 
    
.banner-overlap {
    display: none;
}

.banner div {
    flex-basis: 100%;
}

.banner h1 {
    padding: 0.1em;
    background-color: $primary-color-800;
    border-radius: 0;
    margin: 0;
    font-size: 1.9rem;
}

.banner p {
    font-size: 1rem;
    text-align: left;
    color: $primary-color-400;
}

}